.vh {
  font-size: 5vh;
}

.vw {
  font-size: 5vw;
}

.margin-all-around {
  margin: 5px;
}

.padding-all-around {
  padding: 5px;
}

.background {
  height: 200px;
  background: rgb(255, 110, 110) url(https://images.unsplash.com/photo-1499615767948-e6a89ef6060f?auto=format&fit=crop&w=1050&q=80) no-repeat;
  color: white;
}

.background-color {
  background-color: rgb(255, 0, 0);
}
